/* @font-face {
  font-family: firstFont;
  src: url(assets/font1.ttf);
}

@font-face {
  font-family: secondFont;
  src: url(assets/font2.ttf);
} */

:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 960px;
  --main-width: 720px;
  --post-width: 720px;
  --header-height: 60px;
  --footer-height: 80px;
  --radius: 8px;
  --monospace: "Lucida Console", Monaco, "Consolas", monospace;
  --theme: rgb(255, 255, 255);
  --entry: rgb(255, 255, 255);
  --primary: rgb(30, 30, 30);
  --primary-dim: rgb(60, 60, 60);
  --secondary: rgb(108, 108, 108);
  --tertiary: rgb(158, 158, 158);
  --tertiary-bg: rgb(214, 214, 214);
  --content: rgb(31, 31, 31);
  --code-bg: rgb(245, 245, 245);
  --border: rgb(238, 238, 238);
  --link-background-color: #7455426d;
  --link-color: var(--primary);
  /* --link-hover-color: #573eaa; */
  --link-hover-color: #ffa500;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: #6549c0;
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
  --link-transition: all 0.3s ease;
  --line-yellow: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='%23fc0' stroke-width='3' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
  --signature: var(--primary);
  --signature-bg: var(--secondary);
  --border-radius-color: var(--secondary);
}

.dark {
  --theme: rgb(29, 30, 32);
  --entry: rgb(46, 46, 51);
  --primary: rgb(218, 218, 219);
  --primary-dim: rgb(186, 186, 186);
  --secondary: rgb(155, 156, 157);
  --tertiary: rgb(123, 124, 124);
  --tertiary-bg: rgb(65, 66, 68);
  --content: rgb(196, 196, 197);
  --code-bg: rgb(55, 56, 62);
  --border: rgb(51, 51, 51);
  --link-background-color: #7455426d;
  --link-color: var(--primary);
  /* --link-hover-color: #876fd6; */
  --link-hover-color: #ffa500;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: var(--link-hover-color);
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
  --border-radius-color: #ffa500;
}

html {
  /* background-color: #111010; */
  background-color: var(--theme);
  color: var(--theme);
  /* font-family: firstFont, secondFont; */
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, helvetica neue,
    segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, sans-serif;
  line-height: 1.5;
  text-align: inherit;
}

body {
  padding: 0;
  margin: 0 1em;
  box-sizing: border-box;
}

h1,
h2,
h3,
h3,
h5,
p,
label,
span {
  color: var(--primary);
}

.main-layout {
  height: 100vh;
  height: 100dvh;
  max-width: 60em;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  margin-top: 0.5rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div {
  display: flex;
  align-items: center;
  text-decoration: none;
}

nav div ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

nav div ul li a {
  text-decoration: none;
  color: var(--primary);
}

main {
  margin-top: 1rem;
}

label {
  font-weight: bold;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
  background-color: var(--link-background-color);
  text-decoration-color: var(--link-hover-underline-color);
}

.profile {
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
  filter: brightness(90%);
  filter: grayscale(100%);
}

.profile-link-home:hover {
  background-color: transparent !important;
}

.main-section {
  display: grid;
  height: 50rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  color: var(--primary);
}

.main-section div {
  border-radius: 2%;
}

.blogs-view {
  background-color: var(--entry);
  border: 1px solid var(--border);
  grid-column: span 2;
  grid-row: 1;
  display: grid;
  place-items: center;
  font-size: x-large;
}

.shorts-view {
  background-color: var(--entry);
  border: 1px solid var(--border);
  grid-column: span 2;
  grid-row: 2;
  display: grid;
  place-items: center;
  font-size: x-large;
}

.about-view {
  background-color: var(--entry);
  border: 1px solid var(--border);
  grid-column: 3;
  grid-row: 1 / 3;
  place-items: center;
}

.about-profile {
  margin-top: 1.5rem;
}

.about-description {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.about-me-links {
  margin-top: 1em;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}

.about-me-links a {
  text-align: center;
}

.about-experience {
  list-style-type: none;
}

.about-main-section {
  height: 100vh;
  height: 100dvh;
  max-width: 50em;
  margin: auto;
}

.about-main-section p {
  margin-bottom: 2em;
  line-height: 2em;
}

.about-intro-name {
  font-size: 2.5rem;
  font-weight: bold;
  word-spacing: 0.2em;
}
.about-social-links {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.about-social-links a {
  width: min-content;
}

.about-section-title {
  font-size: 1.5rem;
}

.about-videos-section {
  margin: 2em auto;
}

.about-sites-section {
  margin: 2em auto;
}

/* media query */
@media (max-width: 768px) {
  .main-section {
    display: grid;
    grid-template-columns: repeat(100px, auto);
  }

  .blogs-view {
    border: 1px solid var(--border);
    grid-column: span 3;
    grid-row: 1;
  }

  .shorts-view {
    border: 1px solid var(--border);
    grid-column: span 3;
    grid-row: 2;
  }

  .about-view {
    border: 1px solid var(--border);
    height: 105%;
    grid-column: span 3;
    grid-row: 3;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  /* border-radius: 90%; */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 15%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--border-radius-color);
  transition: 0.4s;
  border-radius: 15%;
}

/* Style for when the checkbox is checked */
input:checked + .slider {
  background-color: gray;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
slider.round {
  border-radius: 15%;
}

slider.round:before {
  border-radius: 15%;
}
